<!DOCTYPE html>
<html>
  <body>

    <% include templates/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="auth/facebook">Facebook Login</a>
    <a href="auth/google">Google Login</a>

    <% include templates/footer.ejs %>
  </body>
</html>
