<!DOCTYPE html>
<head>
    <title>Header</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
</head>

<body>
    <div id="header">
        <a href="/">Home</a> |
        <a href="/mdb">MongoDataBase</a> |
        <a href="/login">Login</a> |
        <a href="/logout">Logout</a> |
        <a href="/user">User</a>
    </div>
</body>